:root{
    --radius:12px;
    --color0:#fff;
    --color1:rgb(98, 201, 142);
    --color2:#CDDC39;
    --transparente: #333333bf;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Chakra Petch", sans-serif;
    scrollbar-color: var(--color2) #fff;
    scrollbar-width: thin;
}

body{
    width: 100%;
    height: 100dvh;
    
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 0 1px 8px 0 var(--color1);
    align-items: center;
    position: relative;
    z-index: 1;
}

.boton{
    background-color: var(--color1);
    border-radius: var(--radius);
    color: var(--color0);
    cursor: pointer;
    padding: 10px;
    border: none;
}

.boton:hover{
    background-color: rgb(76, 177, 120);
}

.boton:active{
    margin-top: 3px;
}

.boton__header{
    position: absolute;
    right: 25px;
}

.boton__add{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
}

.boton__add:active{
    bottom: 47px;
}

.slider{
    width: 100%;
    height: 45vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.slider__img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.slider__btn{
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.slider__btn:hover >path{
    fill: rgb(76, 177, 120);
}

.slider__btn:active{
    margin-top: 3px;
}

.slider__btn-previus{
    left:25px;
}

.slider__btn-next{
    right: 25px;
}

.slider__indice{
    position: absolute;
    bottom: 25px;
    height: 40px;
    background-color: var(--color1);
    border-radius: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.indice__ball{
    border-radius: 50%;
    background-color: var(--color0);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.indice__ball-active{
    width: 30px;
    height: 30px;
}

.indice__ball:hover{
    scale: 1.1;
}

.formulario{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    overflow: hidden;
    visibility: hidden;
}

.formulario::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a09c9c68;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.formulario h2{
    text-align: center;
    margin-top: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver; 
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffffff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(76, 177, 120);
} 

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: rgb(76, 177, 120);
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(76, 177, 120);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: white;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

.favoritos{
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    padding: 10px;
    gap: 10px;
    user-select: none;
}

.favoritos__post{
    height: 200px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0 #8a8989;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.post__img{
    width: 100%;
    height: 100%;
}

.post__cont-img{
    height: 70%;
    cursor: pointer;
    position: relative;
}

.post__cont-img:hover > .post__contAutor{
    display: flex;
}

.post__contAutor{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--transparente);
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}

.post__contAutor p{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 25px
}

.post__acciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
}

.cora{
    cursor: pointer;
}

.cora:hover > path{
    fill: #f00;
}

.acciones__right, .acciones__left{
    gap: 10px;
    display: flex;
}

.acciones__right{
    cursor: pointer;
}

.acciones__right:active{
    margin-top: 3px;
}

.acciones__right:hover >p, .acciones__right:hover> svg path{
    color: var(--color1);
    fill: var(--color1);
}

.titulo{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    margin-left: 10px;
    color: var(--color1);
    position: relative;
    display: flex;
    text-wrap: nowrap;
}

.titulo::before{
    content: attr(data-content);
    color: #CDDC39;
    position: absolute;
    left: -3px;
    top: -1px;
}

.contHearth{
    scale: 1;
    transition: .5s;
    animation-duration: .5s;
    cursor: pointer;
}

@keyframes cora{
    0%{
        scale: 1;
    }
    25%{
        scale: 1.2;
    }
    50%{
        scale: 1;
    }
    75%{
        scale: 1.3;
    }
    100%{
        scale: 1;
    }
}